<%- include('header'); -%>

    <div id="main">
        <div id="main-left">
            <img src="blue_um3.png" height="170px" width="200px" id="blue_um">
            <img src="cloud.png" height="150px" width="200px" id="cloud1">
            <img src="yellow_um1.png" height="140px" width="100px" id="yellow_um">
            <img src="cloud.png" height="80px" width="100px" id="cloud2">
        </div>
        <div id="main-right">    
            <div id="logo">
               <img height="100px" width="100px" src="logo.png" style="background-color: #334651; border-radius: 20px;align-items: center;">
               <h1 style="color: white;margin: 0%;font-family: sans-serif;font-size: xxx-large;">Breeze</h1>
               <p style="color: aliceblue;margin: 0%;font-family: sans-serif;">Weather App</p>
            </div>
            <div style="display: flex;flex-direction: row;justify-content: center;">
                <button type="submit" id="main-button" onclick="location.href='/mainHome'">Get Started</button> 
            </div>
        </div>
    </div>
    
<%- include('footer'); -%>