<div id="weather-navbar">
    <div id="nav-logo"><img src="blue_um3.png" height="35px" width="35px" onclick="location.href='/mainHome'"></div>

    <div class="nav-item" onclick="location.href='/mainHome'">
        <div><i class="fa-solid fa-wind"></i></div>
        <div class="hide">Weather</div>
    </div>

       <div class="nav-item" onclick="location=href='/city'">
         <div><i class="fa-solid fa-mountain-city"></i></div>
        <div class="hide">City</div>
    </div>
   
    

    <div class="nav-item" onclick="location.href='/mapSearch'">
        <div><i class="fa-solid fa-map"></i></div>
        <div class="hide">Map</div>
    </div>

    <div class="nav-item" onclick="location.href='/setting'">
        <div><i class="fa-solid fa-gear"></i></div>
        <div class="hide">Setting</div>
    </div>
    
</div>